.ball-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ball-hover:active {
    transform: scale(2) rotate(360deg);
    box-shadow: 0 1rem 1rem rgb(255, 255, 255);
}

.live-badge {
    animation: pulse 2s infinite ease-in-out;
    transition: transform 0.2s ease, box-shadow 0.1s ease;
}

.live-badge:active {
    transform: scale(1.7) rotate(360deg);
}

.team-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(90deg, indigo, chocolate);
}

.team-hover:active {
    transform: scale(1.2);
    box-shadow: 0 1rem 1rem rgb(255, 255, 255);
}

.card-container {
    border-radius: 1rem;
    background: linear-gradient(90deg, #1cb604, turquoise);
}

.ball-container {
    display: flex;
    gap: 1rem;
    padding: 0.3rem 0;
}

.card-title {
    font-size: 2rem;
    font-weight: 600;
    color: wheat;
}

.score {
    font-size: 2rem;
    font-weight: 700;
}

.small-text {
    font-size: 1rem;
}

.team-badge {
    font-size: 1.3rem;
    font-weight: 500;
}

.run-rate {
    font-size: 1rem;
}

.live-score {
    padding-left: 0.3rem;
    font-size: 1.25rem;
    font-weight: bold;
    color: orangered; /* Green */
}
div.player {
    font-size: 0.9rem;
    color: #34d399; /* Green */
}
img.team-logo {
    border-radius: 0.75rem;
}
div.sub-title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #edcf08;
    box-shadow: 0 0.5rem 0.5rem rgba(237, 207, 8, 0.4);
    padding: 0.1rem 0.3rem;
    color: wheat;
    background: #009579;
}
span.player {
    font-size: 1.2rem;
    color: wheat;
}