.ball-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ball-hover:active {
    transform: scale(2) rotate(360deg);
    box-shadow: 0 1rem 1rem rgb(255, 255, 255);
}

.live-badge {
    animation: pulse 2s infinite ease-in-out;
    transition: transform 0.2s ease, box-shadow 0.1s ease;
}

.live-badge:active {
    transform: scale(1.7) rotate(360deg);
}

.team-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background: linear-gradient(90deg, indigo, chocolate);
}

.team-hover:active {
    transform: scale(1.2);
    box-shadow: 0 1rem 1rem rgb(255, 255, 255);
}

.card-container {
    border-radius: 1rem;
    background: linear-gradient(90deg, #1cb604, turquoise);
}

.ball-container {
    display: flex;
    gap: 1rem;
    padding: 0.3rem 0;
}

.card-title {
    font-size: 2rem;
    font-weight: 600;
    color: wheat;
}

.score {
    font-size: 2rem;
    font-weight: 700;
}

.small-text {
    font-size: 1rem;
}

.team-badge {
    font-size: 1.3rem;
    font-weight: bold;
}

.run-rate {
    font-size: 1rem;
}

.live-score {
    width: 100%;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    color: greenyellow; /* Green */
}
div.match-summary {
    width: 75%;
    margin-left: 12.5%;
    padding: 0.25rem 0;
    border-radius: 0.75rem;
    background: linear-gradient(90deg, dodgerblue, deeppink);
}
div.player {
    font-size: 0.9rem;
    color: #34d399; /* Green */
}
img.team-logo {
    border-radius: 0.75rem;
}
div.sub-title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #edcf08;
    box-shadow: 0 0.5rem 0.5rem rgba(237, 207, 8, 0.4);
    padding: 0.1rem 0.3rem;
    color: wheat;
    background: #009579;
}
span.player {
    font-size: 0.9rem;
    color: wheat;
}
.progress {
    height: 0.4rem;
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(0, 255, 255, 0.3);
    background: slategray;
}

.progress-bar {
    height: 100%;
    border-radius: 50px;
    text-align: center;
    font-size: 0.7rem;
    font-weight: bold;
    transition: width 0.5s ease-in-out;
    background: linear-gradient(90deg, #00c6ff, #0072ff);
}