.navbar {
    border-radius: 1rem;
    display: flex;
    align-items: center;
    background: #333;
    color: white;
    padding: 0 1rem;
    transition: background 0.3s ease-in-out;
}
div.nav-title {
    font-size: 1.75rem;
}
.nav-links {
    list-style: none;
    display: flex;
    transition: transform 0.3s ease-in-out;
}
.nav-links li {
    margin: 0 1rem;
    padding: 1rem 0;
}
.nav-links a {
    text-decoration: none;
    color: wheat;
    font-size: 1.2rem;
    transition: color 0.3s ease-in-out;
}
.nav-links a:hover {
    color: #ffcc00;
}
.hamburger {
    display: none;
    font-size: 3rem;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.hamburger:hover {
    transform: scale(1.1);
}
.hamburger.active {
    transform: rotate(90deg);
}
@media screen and (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 70%;
        height: 100%;
        background-image: url("../../images/stadium1.png");
        position: absolute;
        top: 0;
        left: 0;
        text-align: center;
        opacity: 0;
        transform: translateY(-2rem);
        transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
    }
    .nav-links.active {
        display: flex;
        opacity: 1;
        transform: translateY(0);
    }
    .nav-links li {
        padding: 1rem 0;
    }
    .hamburger {
        display: block;
        transition: transform 0.3s ease-in-out;
    }
    .hamburger:active {
        transform: scale(0.9);
    }
}
a.nav-link {
    width: 90%;
    display: block;
    border-radius: 1rem;
    background-color: cornflowerblue;
    font-size: 1.5rem;
    color: wheat;
    text-align: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

div.balance-container {
    background-color: #34495e;
    display: inline-block;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: bounce 0.5s ease-in-out, pulse 2s infinite;
}

div.balance {
    font-size: 1.3rem;
    font-weight: bold;
    color: #ecf0f1;
}
div.open-ticket {
    background-color: #34495e;
    display: inline-block;
    padding: 0.1rem 0.5rem;
    border-radius: 1rem;
    font-size: 1.2rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: bounce 0.5s ease-in-out, pulse 2s infinite;
}