div.padding{
    display: block;
    padding: 2rem;
}
div.separator {
    border: 0.01rem solid #000000;
    margin: 0.3rem;
    box-shadow: 0 1rem 1.2rem rgb(51, 117, 204, 0.6);
}
div.sub-title {
    text-align: center;
    font-weight: bold;
    letter-spacing: 0.15rem;
    border-radius: 1rem;
    border-bottom: 0.2rem solid #edcf08;
    box-shadow: 0 0.5rem 0.5rem rgba(237, 207, 8, 0.4);
    padding: 0.1rem 0.3rem;
    color: wheat;
    background: #009579;
}